<app-navbar></app-navbar>
<div class="container">
    <div class="content">
        <h1>Welcome to Our S-FIT GyM</h1>
        <h5>Transform Your Body & Transform Your Life</h5>
        <button class="button"><a href="/apply-form">Apply Now</a></button>
    </div>
</div>
<div class="card-grid">
    <div class="card">
        <div class="card-content">
            <div class="card-image">
                <img src="./images/img1.jpg" alt="Placeholder Image">
            </div>
            <div class="card-text">
                <h1>Guidelines</h1>
                <h2>Sure! Here's a comprehensive guide on building a body at the gym, organized by topic:</h2>
                <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem officiis quibusdam eligendi recusandae
                    amet, nihil temporibus quis atque cum consequatur vitae quidem natus itaque, rerum asperioresate. Repellendus accusantium ad
                    sint temporibus dolor molestiae inventore aperiam ducimus earum quidem odit eius
                    accusamus ea autem quod? Sed impedit, at voluptatibus eos nam aliquid tempore earum necessitatibus
                    ipsum facere ad minus laboriosam fugit.</p> -->
            </div>
        </div>
    </div>
    <div class="card reverse"><a href="/shoping">
            <div class="card-content">
                <div class="card-text">
                    <h1>Shoping</h1>
                    <h2>Click here to buy the best gym equipment</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem soluta reprehenderit perferendis
                        eius praesentium amet pariatur accusantium laborum, sed officia quis aut provident tenetur,
                        natus
                        ex, enim quae non magni minus recusandae esse ullam? Quaerat cupiditate aspernatur sint officia
                        atque cumque nostrum illum, voluptatem, exercitationem debitis aliquam repellendus eligendi? Eum
                        accusantium quos nobis fugit magni corporis mollitia, doloribus, cum omnis obcaecati tempore
                        unde
                        natus, consectetur numquam adipisci accusamus quis. Pariatur, harum inventore! Architecto,
                        expedita
                        impedit sequi pariatur eaque amet dolores commodi, esse maiores quos quia numquam ea repellendus
                        rum ex. Aliquid maxime accusantium, delectus unde saepe autem perspiciatis
                        doloribus, necessitatibus molestiae inventore veniam voluptatum officiis, possimus atque
                        accusamus.
                        Molestiae, repellat nihil.</p>
                </div>
                <div class="card-image">
                    <img src="./images/img4.jpg" alt="GYM Assets Image">
                </div>
            </div>
        </a>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="card-image">
                <img src="./images/img5.webp" alt="Body Boostar Image">
            </div>
            <div class="card-text">
                <h1>Gym food guidance And Shop NOW</h1>
                <h2></h2>
                <p>A high-protein diet is essential for building muscle, so it's important to include plenty of
                    protein-rich foods. It's also important to eat plenty of healthy carbs and fats. These nutrients are
                    essential for providing energy and helping your body to recover from workouts.</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>